<div class="container">
  <h1 class="d-flex justify-content-center">CRUD USER</h1>

<div class="container p-2">
  <form [formGroup]="userForm" (ngSubmit)="onsubmit()">
    <label for="name">Name</label>
    <input type="text" formControlName="name" />
    <label for="email">Email</label>
    <input type="text" formControlName="email" />
    <label for="phone">Phone</label>
    <input type="tel" formControlName="phone" maxlength="10">
    <label for="password">Password</label>
    <input type="password" formControlName="password" />
    <button class="btn btn-primary m-2" *ngIf="!isEditMode">Add User</button>
    <button class="btn btn-info m-2" *ngIf="isEditMode" >Update User</button>
  </form>
</div>

<div>
  <table class="table" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userArray | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count}; let i = index">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.password}}</td>
        <td><button id="updatebtn" (click)="editbtnclick(user)">Update</button></td>
        <td><button id="deletebtn" (click)="deleteUser(user._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ---------------------------------------------PAGINATION USING NGX-------------------------------------------- ----- -->
<div class="d-flex justify-content-center">
  <pagination-controls previousLabel nextLabel (pageChange)="onPageChange($event)" [maxSize]="5" [responsive]="true"></pagination-controls>
</div>



<div class="d-flex py-2 gap-5">
  <div>
    <input type="text" placeholder="Search by Name, Phone, Email..." [(ngModel)]="search" (input)="getuserData()">
  </div>

  <div>
    <select name="limit" id="pagelimit" [(ngModel)]="limit" (change)="onPageSizeChange($event)">
      <option value="5">Select Page</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>

  <div>
    <select name="sortBy" id="sortBy" [(ngModel)]="sortBy" (change)="getuserData()" >
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select>
  </div>

  <div>
    <select name="sortOrder" id="sortOrder" [(ngModel)]="sortOrder" (change)="getuserData()">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>

</div>
</div>



